<h2 class="heading">Forgot your password?</h2>

<div class="password-container">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <p class="label">Please enter your email to reset password</p>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email",class: 'email'%>
    </div>

    <div class="actions">
      <%= f.submit "Send", class:"submit"%>
    </div>
  <% end %>
</div>

