.board-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    min-height: calc(100vh - 81px);
    padding: 0 0 100px 0;

    a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
        .board {
            width: 300px;
            height: 300px;
            margin: 20px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            background-color: #6c5ce7;
            color: #2d3436;
            border-radius: 10px;
            transition: 0.5s;
            box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.3);
            cursor: pointer;
        }
    }
}



table {
    padding: 50px 0 150px;
    margin: 0 auto;
    width: auto;
    text-decoration: none;

    td {
        padding: 10px 30px;
        color: #b2bec3;
        a {
            text-decoration: none;
            color: #b2bec3;
        }
    }

    th {
        color: #b2bec3;
        padding: 10px 50px;
    }

    tr:nth-child(odd) {
        background-color: rgba(0, 0, 0, 0.3);
    }
    tr:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.1);
    }

    tr:not(:first-child) {
        &:hover {
            background-color: rgba(255,255,255,0.1);
        }
    }
}

.form {
    padding: 100px 0;
    .name-field {
        width: 100%;
        border-radius: 5px;
        border: none;
        padding: 20px;
        color: white;
        font-size: 18px;
        outline: none;
        background-color: rgba(0, 0, 0, 0.05);
    }
    .submit {
        padding: 20px;
        margin: 20px 0;
        border-radius: 5px;
        font-size: 18px;
        width: 100%;
        border: none;
        cursor: pointer;
        outline: none;
        background-color: black;
        color: white;
        &:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
    }
}